<div class="container mt-3 text-white">
  <div class="row text-dark bg-warning pt-3 rounded">
    <h3>
      <i class="text-danger">Subject & Behaviour Subject :- </i>
      use when we want to send data in different component.
      in Behaviour Subject we can set Initial value but in 
      Subject we can not set Initial value
    </h3>
  </div>
  <div class="row">
    <div class="col-md-4 bg-primary p-5 m-4">
      <app-test1></app-test1>
    </div>
    <div class="col-md-4 bg-primary p-5 m-4">
      <app-test2></app-test2>
    </div>
    <div class="col-md-4 bg-primary p-5 m-4">
      <app-test3></app-test3>
    </div>
  </div>
</div>
