<div class="container mt-3">
  <div class="row text-dark bg-warning pt-3 rounded">
    <h3>
      <i class="text-danger">Services & Dependancy Injection:- </i>
      write logic in services ones & use in any component. For fetch 
      JSON data in services and show in component we need 
      Observable and httpClient  
      
    </h3>
  </div>
</div>
<div class="container mt-3 text-danger">
  <div class="table">
    <tr *ngFor="let i of users">
      <td>{{ i.id }}</td>
      <td>{{ i.name }}</td>
      <td>{{ i.username }}</td>
    </tr>
  </div>
</div>
