<div class="container mb-4">
    <div class="row">
        <div class="col-md-6 text-center">
            <img height="300" class="img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTlGagjpkGl48XqW63h08v2BbpeW8vrxn2DTFmzfB_0VHPqETVn-XL9cCmfkMk4W1PvriI&usqp=CAU">
        </div>
        <div class="col-md-6 text-dark">
            <div class="display-5"><b>Watch</b></div><br>
            <p >
                Apple | 1TB | Good looking | Thin | HDR 
            </p>
             <h1>&#8377; 70000</h1>
        </div>
    </div>
</div>