
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-link">Home</a><br>
    <a routerLink="/about" routerLinkActive="active" class="nav-link">Route Navigation</a><br>
    <a routerLink="/product" routerLinkActive="active" class="nav-link">Route ChildrenCall</a><br>
    <a routerLink="/contact" routerLinkActive="active" class="nav-link">Route DataPassing</a><br>
    <a routerLink="/ngcontentdemo" routerLinkActive="active" class="nav-link">NgContent</a><br>
    <a routerLink="/servicedependancy" routerLinkActive="active" class="nav-link">ServicesDependancy</a><br>
    <a routerLink="/subbehaviour" routerLinkActive="active" class="nav-link">Subject BehaviourSubject</a><br>
    <a routerLink="/forminput" routerLinkActive="active" class="nav-link">Forms Concept</a><br>
    <a routerLink="/pipe" routerLinkActive="active" class="nav-link">Pipe Concept</a><br>
  </mat-drawer>

  <div class="example-sidenav-content mt-3" >
    <button type="button" color="accent" mat-mini-fab (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    
  </div>
  <router-outlet></router-outlet>
</mat-drawer-container>
