<div class="container mb-4">
    <div class="row">
        <div class="col-md-6 text-center">
            <img height="300" class="img-fluid"src="https://www.apple.com/in/iphone-12/images/meta/iphone-12_specs__uks7xn3l3yqa_og.png?202210022200">
        </div>
        <div class="col-md-6 text-dark">
            <div class="display-5"><b>Mobile</b></div><br>
            <p >
                Apple | 1TB | Good looking | Thin | HDR 
            </p>
             <h1>&#8377; 70000</h1>
        </div>
    </div>
</div>