<div class="container">
    
    <div class="row">
        <div class="col-md-2">
            <button routerLink="/about">Route ChildrenCall</button>
        </div>
        <div class="col-md-2">
            <button routerLink="/about">Route ChildrenCall</button>
        </div>
        <div class="col-md-2">
            <button routerLink="/about">Route ChildrenCall</button>
        </div>
        <div class="col-md-2">
            <button routerLink="/about">Route ChildrenCall</button>
        </div>
        <div class="col-md-2">
            <button routerLink="/about">Route ChildrenCall</button>
        </div>
        <div class="col-md-2">
            <button routerLink="/about">Route ChildrenCall</button>
        </div>
    </div>
</div>
